<header>
  <nav class="navbar navbar-dark text-white bg-primary">
    <a class="navbar-brand">Comparação FIPE</a>
    <a class="float-right">Leonardo Luz</a>
  </nav>
</header>

<main>
  <div class="container mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <h6>Veículo 1</h6>
            </div>
            <app-veiculo-form></app-veiculo-form>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <h6>Veículo 2</h6>
            </div>
            <app-veiculo-form></app-veiculo-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

